<ul class="autolist">
    {{#each results as |result index|}}
    <li tabindex={{index}} {{action 'selectRes' result}}>
        <div class="row">
            <span class="col s3 align-left">
                <img src="{{result.img}}" alt="" class="circle responsive-img img-list"/>
            </span>
            <h5>{{result.name}}</h5>
        </div>
        <div class="divider"> </div>
    </li>
    {{/each}}
</ul>
