<div class="row searchbox">
    <div class="col offset-l2 l7 offset-m2 m8 s12 ">

        {{search-box selectRes='submitSearch' term=term activeIndex=activeIndex results=filteredResults nsfw=nsfw}}

    </div>
    <div class="col l2">
        {{md-check name="NSFW" checked=nsfw }}
    </div>
    <div class="col offset-l2 l7 offset-m2 m8 s12 align-center">
        {{#md-card-panel class="blue-grey lighten-5" bodyClass="black-text"}}
        {{#if filteredResults}}
            {{autocomplete-list selectRes='submitSearch' activeIndex=activeIndex results=filteredResults}}
        {{else}}
            <h5>No results found</h5>
        {{/if}}
        {{/md-card-panel}}
    </div>
</div>
